$base03 :  #002b36;
$base02 :  #073642;
$base01 :  #586e75;
$base00 :  #657b83;
$base0  :  #839496;
$base1  :  #93a1a1;
$base2  :  #eee8d5;
$base3  :  #fdf6e3;
$yellow :  #b58900;
$orange :  #cb4b16;
$red    :  #dc322f;
$magenta:  #d33682;
$violet :  #6c71c4;
$blue   :  #268bd2;
$cyan   :  #2aa198;
$green  :  #859900;

.highlight {
  color:             $base00 !important;
  background-color:  $base3 !important;

  pre {
    background-color: inherit !important;
  }

  // error
  .err {
    color:             $red !important;
    background-color:  $base2 !important;
  }

  // declaration e.g. #include
  .cp {
    color:        $base1 !important;
    font-weight:  bold !important;
  }

  // ??
  .cs {
    color:        $base1 !important;
    font-weight:  bold !important;
    font-style:   italic !important;
  }

  // diff deletion
  .gd {
    background-color: #fdd !important;
  }

  // diff inline deletion
  .gd .x {
    background-color: #faa !important;
  }

  // diff ??
  .ge {
    font-style: italic !important;
  }

  // diff insertion
  .gi {
    background-color: #dfd !important;
  }

  // diff inline insertion
  .gi .x {
    background-color: #afa !important;
  }

  // diff ??
  .go {
    color: $base00 !important;
  }

  // diff ??
  .gu {
    color:        $magenta !important;
    font-weight:  bold !important;
  }

  // diff ??
  .gs {
    font-weight: bold !important;
  }

  // diff ??
  .gr, .gt {
    color: $magenta !important;
  }

  // diff ??
  .gh {
    color: $base1 !important;
  }

  // diff ??
  .gp {
    color: $base1 !important;
  }

  // special words (JS 'document', C 'NULL', Ruby 'require'
  .nb {
    color: $green !important;
  }

  // ??
  .ni {
    color: $magenta !important;
  }

  // HTML, Haml, XML tags
  .nt {
    color: $blue !important;
  }

  // ??
  .w {
    color: $base1 !important;
  }

  // ??
  .sr {
    color: $green !important;
  }

  // ??
  .ss {
    color: $cyan !important;
  }

  // comments
  .c, .cm, .c1 {
    color:       $base1 !important;
    font-style:  italic !important;
  }

  // keywords, symbols
  .k, .kc, .kd, .kp, .kr, .kt, .o, .ow {
    font-weight: bold !important;
  }

  .k {
    color: $green !important;
  }

  // keyword ??
  .kt {
    color: $yellow !important;
  }

  // special variables e.g. __FILE__, None
  .bp {
    color: $base01 !important;
  }

  // module names e.g. "sys" in "import sys"
  .nn {
    color: $base01 !important;
  }

  // CSS class rule, Ruby class declaration
  .nc {
    color:        $yellow !important;
    font-weight:  bold !important;
  }

  // literals
  .m, .mf, .mh, .mi, .mo, .il {
    color: $cyan !important;
  }

  // strings
  .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .s1 {
    color: $cyan !important;
  }

  // literals e.g. 3.14, 600px
  .na, .nv {
    color: $cyan !important;
  }

  // constants?
  .no {
    color: $yellow !important;
  }

  // ??
  .vc, .vg, .vi {
    color: $blue !important;
  }

  .ne, // ??
  .nf  // CSS id rule
  {
    color:        $red !important;
    font-weight:  bold !important;
  }
}
